<div>
  <loading *ngIf="isLoadingUser"></loading>
  <user-required *ngIf="noUser"></user-required>
  <publish-message *ngIf="canPublishMessages" [gravatarHash]="currentUser.emailHash"></publish-message>
  <br/>
  <loading *ngIf="isLoadingMessages"></loading>
  <div *ngIf="messages && messages.length">
    <wall-message
        *ngFor="let message of messages"
        [message]="message"
        >
    </wall-message>
  </div>
  <no-messages *ngIf="messages && !messages.length"></no-messages>
</div>