<div id="no-user-wrapper" class="common-container">
  <p class="text-center">
    Open Thought Wall&reg; is a free message board that allows users to leave messages behind for everyone to read. There is actually not much fun to this,
    except for building it as a showcase project. You're free to read the messages left behind, but you'll need an account before you can post.
  </p>
  <div class="text-center">
    <a href="/signup" class="btn btn-info">Create a new account</a>
    <a href="/signin" class="btn btn-secondary">Sign in</a>
  </div>
</div>