/*
 * Styles specific to the noUser component
 */

#no-user-wrapper {
  font-family: 'Lobster Two', cursive;
}

#no-user-wrapper a {
  cursor: pointer;
  text-transform: uppercase;
  min-width: 240px;
}